


body {
    font-family: Raleway;
    margin: 0px;
    padding-left: 50px;
    padding-right: 50px;
    
}

header, main, footer {
    max-width: 1400px;
    margin: 0 auto;
}


h1 {
    font-size: 22px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

p {
    font-size: 16px;
}

/* Header comprend logo plus menu*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    width: 61.09px;
    height: 19px;
    padding-top: 30px;
    
    
}

/* Menu comprend Hebergement et Activité, plus hover*/

#menu {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    
}

.Hebergement {
    padding-right: 70px;
    padding-left: 70px;
    text-align: center;
    padding-top: 40px;
    border-top: 2px white solid;
    
}

.Hebergement:hover {
    border-top: 2px #0065FC solid;
    color: #0065FC;
    
}

.Activite {
    padding-left: 70px;
    padding-right: 70px;
    text-align: center;
    padding-top: 40px;
    border-top: 2px white solid;
}

.Activite:hover {
    border-top: 2px #0065FC solid;
    color: #0065FC;
}

.link-h, .link-a {
    text-decoration: none;
    color: black;

}

.link-h:hover, .link-a:hover{
    color: #0065FC;
}


/* Menu fonction recherche */

#formulaire-recherche {
    padding-top: 60px;
}

.titre-recherche {
    font-size: 20px;
}

.description-recherche {
    font-size: 16px;
}

form {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border: none;
    border-radius: 15px;
    width: 250px;
    
}

.location {
    padding-right: 15px;
    padding-left: 15px;
}

input {
    border:none;
    padding-top: 9px;
    padding-bottom: 9px;
}

.button-search {
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-mobile {
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC;
    color: white;
}

button {
    color: #F2F2F2;
    border: none;
    background-color: #0065FC;
}

.button-mobile {
    display: none;
}

.formulaire {
    background: #F2F2F2;
    padding-right: 15px;
}

/* Partie Filtres*/

#filtres {
    font-size: 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 45px;
}

#bouton-filtre {
    display: flex;
    flex-direction: row;
}

.filtre {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 4px solid #F2F2F2;
    border-radius: 30px 30px 30px 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.filtre:hover {
    background: #DEEBFF;
} 



/*Images liées aux filtres*/

.bill {
    color: #0065FC;
    padding-right: 20px;
}

.person {
    color: #0065FC;
    padding-right: 20px;
}

.heart {
    color: #0065FC;
    padding-right: 20px;
}

.dog {
    color: #0065FC;
    padding-right: 20px;
}

/*Point info*/

#info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.i {
    font-size: 11px;
    color: #0065FC;
    border: 2px solid #F2F2F2;
    border-radius: 20px 20px 20px 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.point-info {
    padding-left: 5px;
}

/* Cartes Hebergement a Marseille*/

#section-hebergement {
    width: 70%;
    height: 700px;
    border: #F2F2F2;
    border-radius: 20px;
    background: #F2F2F2;
    padding-top:15px;
}

.titre-hebergement {
    padding-left: 30px;
}

#hebergement {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.afficher-hebergement {
    padding-left: 40px;
    padding-top: 15px;
}



#carte-1, #carte-2, #carte-3, #carte-4, #carte-5, #carte-6 {
    width: 30%;
    height: 250px;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: white;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    text-decoration: none;
    color: black;
}

.img-c {
    height: 125px;
    width: 96%;
    object-fit: cover;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}

.container-c {
    width: 250px;
    height: 100px;
}

.titre-c {
    padding-left: 10px;
}

#notes-c1, #notes-c2, #notes-c3, #notes-c4, #notes-c5, #notes-c6 {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}

/* Etoiles notation */

.c-s{
    color: #0065FC;
}

.c-sg {
    color: #F2F2F2;
}

/* Cartes Les plus Populaires*/

#section-populaire {
    width: 35%;
    height: 700px;
    border: #F2F2F2;
    border-radius: 20px;
    background: #F2F2F2;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    padding-top: 15px;
    padding-right: 40px;
}

#titre-populaire {
    padding-left: 30px;
    display: flex;
    flex-direction: row;
   justify-content: space-between;
}

.stats {
    padding-right: 40px;
    padding-top: 15px;
    color: #0065FC;
    font-size: 20px;
}

#populaire {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#carte-p1, #carte-p2, #carte-p3 {
    width: 350px;
    height: 160px;
    margin-top: 30px;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: white;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
}



.img-p {
    width: 150px;
    min-width: 150px;
    height: 150px;
    object-fit: cover;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
}

#container-p1, #container-p2, #container-p3 {
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titre-p {
    padding-left: 10px;
}

#notes-p1, #notes-p2, #notes-p3 {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}

/* Etoiles notation populaire */

.cp-s {
    color: #0065FC;
}

.cp-sg {
    color: #F2F2F2;
}

/* contient section et aside pour les placer a coté */

#Cartes {
    display: flex;
    flex-direction: row;
}

/* cartes activités*/

.titre-activité {
    padding-top: 60px;
}

#activité {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#carte-a1, #carte-a2, #carte-a3, #carte-a4 {
    width: 270px;
    height: 450px;
    margin-top: 20px;
    border: 0px solid white;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: white;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
}

.img-a {
    width: 100%;
    height: 400px;
    min-height: 400px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

#container-a1, #container-a2, #container-a3, #container-a4 {
    width: 100%;
    padding-left: 20px;
}


/* Pied de page*/

footer {
    width: 100%;
    height: 225px;
    border: #F2F2F2;
    background: #F2F2F2;
    margin-top: 60px;
    padding-top: 45px;
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



/* Media Queries Tablette*/

@media screen and (max-width:992px) {

    body, header, main, footer {
        max-width: 992px;
        margin: 0 auto;
    }
    
    
    
    .filtre {
        padding: 10px;
        margin: 10px;
        height: 20px;
    }

    #section-hebergement {
        width: 100%;
        margin:0 auto;
    }

    .img-c {
        height: 125px;
        width: 95%;
        object-fit: cover;
    }

    #Cartes {
        display: flex;
        flex-direction: column;
    }

    #section-populaire {
        width: 100%;
        height: 300px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin-top: 40px;
}

    #titre-populaire {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-top: 10px;
}

    #populaire {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 250px;
        padding: 0px;
}

    #carte-p1, #carte-p2, #carte-p3 {
        width: 260px;
        min-width: 260px;
        max-width: 300px;
        height: 180px;
    }

    .img-p {
        width: 130px;
        max-width: 130px;
        height: 95%;
        object-fit: cover;
    }


    #carte-a1, #carte-a2, #carte-a3, #carte-a4 {
        width: 180px;
        height: 260px;
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;
    }
    
    .img-a {
        width: 100%;
        height: 200px;
        min-height: 200px;
        object-fit: cover;
    }

}



/*Media Queries Téléphone*/

@media screen and (max-width:768px) {

    body {
        padding-left: 0px;
        padding-right: 0px;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin:0 auto;
    }
    
    #logo-Booki {
        display: flex;
        justify-content: center;
    }

    #menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin:0 auto;

    }



    .Hebergement {
        text-align: center;
        padding-bottom: 20px;
        border-top: none;
        border-bottom: 3px #F2F2F2 solid;
    }


    .Activite {
        text-align: center;
        padding-bottom: 20px;
        border-top: none;
        border-bottom: 3px #F2F2F2 solid;
    }



    
    .Hebergement:hover {
        border-bottom: 2px #0065FC solid;
        color: #0065FC;
        border-top: none;
    }
    

    
    .Activite:hover {
        border-bottom: 2px #0065FC solid;
        color: #0065FC;
        border-top: none;
    }
    
    #formulaire-recherche {
        margin-left: 20px;
    }

    .button-search {
        display: none;
    }

    .button-mobile {
        display: contents;
    }

    input {
      
        padding-top: 8px;
        padding-bottom: 8px;
    }
    
    button {
        color: #F2F2F2;
        border: none;
        background-color: #0065FC;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 20px;
        padding-left: 10px;
        border-radius: 0px 15px 15px 0px;
    }


    #filtres{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-end;
        margin-left: 20px;
    }

    

    #filtre-seul{
        display: flex;
        flex-direction: column;
    }

    #bouton-filtre{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .filtre {
        width:150px;
        height: 40px;
        font-size: 21px;
    }

    #info {
        margin-left: 20px;
    }

    #Cartes {
        display: flex;
        flex-direction: column-reverse;
    }

    #section-populaire {
        width: 100%;
        min-width: 400px;
        height: 700px;
        margin:0 auto;
        margin-bottom: 40px;
        border-radius: 0;
    }

    #titre-populaire {
        padding-bottom: 20px;
    }

    #populaire {
        flex-direction: column;
        width: 350px;
        margin: 0 auto;
        padding-top: 150px;

    }

    #carte-p1, #carte-p2, #carte-p3 {
        width: 100%;
        
    }

    #section-hebergement {
        background-color: white;
        width: 100%;
        min-width: 400px;
        height: 1200px;
        margin-top: 0px
    }

    #hebergement {
        flex-direction: column;
        width: 350px;
        margin: 0 auto;
    }

    #carte-1, #carte-2, #carte-3, #carte-4, #carte-5, #carte-6 {
        width: 100%;
        min-width: 300px;
        margin-top: 20px;
        margin-left: 20px;
        max-width: 400px;
    }

    .img-c {
        width: 97%;
    }

    .afficher-hebergement {
        display: none;
    }
    
    #section-activité {
        margin-top: 500px;
    }

    .titre-activité {
        margin-left: 20px;
    }

    #activité {
        flex-direction: column;
        width: 100%;
        margin-left: 20px;
    }

    #carte-act1, #carte-act2, #carte-act3, #carte-act4 {
        width: 100%;
        height: 200px;

    }
    
       
    #carte-a1, #carte-a2, #carte-a3, #carte-a4 {
        width: 100%;
        height: 250px;
    }
    
    .img-a {
        width: 100%;
        margin: 0 auto;
    }

    footer {
        height: 100%;
    }

    #footer {
        flex-direction: column;
        margin-left: 20px;
    }


}

